/* ////////////////////////////////////////////////////////////////////////////
/* //////// Basics & Text ///////// */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, footer {
  /* font-family: 'Montserrat', sans-serif;
  font-family: "texgyreadventorregular", arial, helvetica; */
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
}

p {
  display: inline;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* ////////////////////////////////////////////////////////////////////////////
/* //////// Nav Bar ///////// */

.navbar {
  background-color:  #f8f9fa;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}


.navbar ul {
  display: flex;

}

.navbar a {
  color: #333;
  padding: 10px;
  margin: 0 5px;
}

ul {
  list-style: none;
}

.navbar .hover_line:hover {
  border-bottom: 2px solid #212529;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right:0;
  background-color: #f8f9fa;
  /* border-radius: 10px; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #fff;
  background-color: #2a9d8f;
  margin: 0;
  opacity: 0.5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* ////////////////////////////////////////////////////////////////////////////
/* //////// Logo Section ///////// */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.logo .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

#header_logo {
  width: 40%;
  min-width: 200px;
  margin: 30px 0;
}

.searchbar {
  text-align: center;
  font-size: 20px;
  width: 400px;
  min-width: 200px;
  border:none;
  border-bottom: 3px solid #2a9d8f;
  padding: 5px 10px;
  outline: none;
}

.searchbar_btn {
  color: #2a9d8f;
  border: none;
  background: none;
	border: none;
	padding: 0;
  /* color: inherit; */
	/* font: inherit; */
	cursor: pointer;
	outline: inherit;

}

/* ////////////////////////////////////////////////////////////////////////////
/* //////// Select Bar ///////// */

.select .container{
  background-color: #212529;
  display: flex;
  height: 30px;
  padding: 0;
  align-items: center;
}

.select .item {
  width: 200px;
  border-right: 1px solid #fff;
  text-align: center;
}

.select a {
  text-decoration: none;
  color: #fff;
}

.select .item:hover {
  background-color: #2a9d8f;
  padding: 2.5px 0;
}

/* ////////////////////////////////////////////////////////////////////////////
/* //////// Forms and Inputs ///////// */

.fill .container{
  /* height: calc(100vh - 260px);
  background-color: #2a9d8f;
  opacity: 0.08; */
  padding-top: 20px
}

.fill h3 {
  text-align: left;
}

.fill .info {
  border: 1px solid #212529;
  border-radius: 10px;
  border-color: #e52929;
  padding-left: 20px;
  background-color: #fbdfdf;
}

.fill p {
  padding-left: 10px;
}

.custom-select p {
  margin-right: 30px;
  text-align: right;
}

.custom-select {
  margin: 10px 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
}

select option {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  font-size: 15px;
  color: #333;
}

select option:hover {
  background-color: #2a9d8f;
}

/* .custom-select select {
  display: none; /*hide original SELECT element: 
} */

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.custom-select select {
  border: none;
  background: none;
  border: 1px solid #d3d3d3;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.description {
  resize: none;
  width: 100%;
  height: 100px;
  border: none;
  background: none;
  border: 1px solid #d3d3d3;
  color: inherit;
  font: inherit;
  /* cursor: pointer; */
  outline: inherit;
}

.street-number {
  max-width: 50px;
}

.street-name {
  max-width: 300px;
}

.town {
  max-width: 300px;
}

.custom-select input {
  border: none;
  background: none;
  border: 1px solid #d3d3d3;
  color: inherit;
  font: inherit;
  outline: inherit;
}

.submit {
  position: relative;
  float: right;
  margin: 60px 50px 30px;
}

.submit-btn {
  margin-left: 500px;
  display: inline-block;
  border-radius: 4px;
  background-color: #2a9d8f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.submit-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-btn:hover span {
  padding-right: 25px;
}

.submit-btn:hover span:after {
  opacity: 1;
  right: 0;
}



/* /////////////////////////////
/* //////// Footer ///////// */

footer {
  background-color: #212529;
  height: 50px;
}

footer .footer-text {
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  margin-top: 30px;
}
